/* Styles for Info component */
.info-container {
  padding: 20px;
  margin: 20px;
  max-width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container h4 {
  margin-bottom: 20px;
}

/* Styles for SensorSection component */
.sensor-section {
  width: 100%;
  margin-bottom: 30px;
}

.sensor-section h6 {
  margin-bottom: 10px;
}

.sensor-info {
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  gap: 10px;
}

.refresh-button,
.lastNValues-button {
  background-color: #4caf50;
  color: #fff;
}

.refresh-button:hover,
.lastNValues-button:hover {
  background-color: #45a049;
}

.chart-container {
  margin-top: 20px;
  width: 100%;
}

/* Media query for responsiveness */
@media (min-width: 600px) {
  .info-container {
    max-width: 800px;
  }
}
