.app-main {
  font-family: 'Arial', sans-serif;
  background-image: url('./background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  
  display: flex;
   /*justify-content: center;
  align-items: center; */  
  min-height: 100vh;
  flex-direction: column;   
}
.main {
  display: flex;
  flex-direction: column;
}