.app-main {
  
  background-image: url('./marble.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes openingAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-opening {
  animation: openingAnimation 1s ease-in-out;
}