.app-main {
  font-family: 'Arial', sans-serif;
  background-image: url('./background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  
  display: flex;
   /*justify-content: center;
  align-items: center; */  
  min-height: 100vh;
  flex-direction: column;   
}
.main {
  display: flex;
  flex-direction: column;
}
/* Add these styles to your CSS file */
.notification-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.notification-popup {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.notification-popup button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}
